body{

    padding: 0;

    margin: 0;

}

/* Heading layout and styles */

.header{

    display: flex;

    height: 80px;

    background-color: navy;

    color: #fff;

}

#heading-logo{

    width: 70px;

    margin: 5px;

}

.jumbotron{

    flex-grow: 2;

    text-align: center;

    margin: auto;

}



/* Nav Bar layout and styles */

nav{

    text-align: center;

}

.nav-ul {

    list-style-type: none;

    margin: 10px;

    padding: 10px;

    text-decoration: none;

}

.nav-li{

    display: inline;

    text-decoration: none;

    padding: 20px 5%;

    margin: 20px;

    background-color: blueviolet;

    border-radius: 8px;

    -webkit-border-radius: 8px;

    -moz-border-radius: 8px;

    -ms-border-radius: 8px;

    -o-border-radius: 8px;
}

.nav-li a{

    text-decoration: none;
    color: black;

}


/* Drop down menu */

.dropdown {

    position: relative;

    display: inline-block;

}

.dropdown-content {

    display: none;

    position: absolute;

    background-color: #f9f9f9;

    min-width: 160px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    
    z-index: 1;

}

.dropdown:hover .dropdown-content {

    display: block;

}


/* page content layout and styles */

.main-container {

    /* margin-top: 20px; */

    display: flex;

}


.aside-section {
    flex-grow: 3;

    display: flex;

    flex-direction: column;

    align-items: stretch;

    text-align: center;

    padding: 0;

}

section{

    height: 300px;

}

.body {

    flex-grow: 7;

    text-align: center;

    background-color: seagreen;

    background-image: url("images/forbody.jpeg");

    background-repeat:no-repeat;

    background-size: cover;



}

.notice{

    background-color: crimson;

    background-image: url("images/fornotice.jpeg");

    background-repeat:no-repeat;

    background-size: cover;

    
}

.update{

    background-color: yellow;

}


.footer{

    display: flex;

    align-items: stretch;

    width: 100%;

    text-align: center;

    line-height: 0.5;

    color: #fff;

    background-color: blue;

}

.social-icon {

    flex-grow: 5;

}

.social-icon i{

    font-size: 3.5rem;

    padding: 10px 20px ;


}

 i:hover{

    color: rgb(208, 226, 43);

}


.contacts{

    flex-grow: 5;

}





/* Global classes */

.custom-border {

    /* border: 2px solid green;*/


    /* margin: 5px;*/

}



.no-background{

    background-image: none;

}
